<h1>Posts</h1>
<table class= "table">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= post.body %></td>
    <td><%= link_to content_tag(:i, "", class: "icon-pencil"), edit_post_path(post) %></td>
    <td><%= link_to content_tag(:i, "", class: "icon-remove"), post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path,class: "btn btn-primary" %>
